.header__logo {
  width: 142px;
}

@media screen and (max-width: 520px) {
  .header__logo {
    width: 104px;
  }
}

@media screen and (max-width: 440px) {
  .header__logo {
    width: 104px;
    margin-left: 28px;
  }
}
