.header {
  margin: 45px auto 0;
  max-width: 880px;
  border-bottom: 1px rgba(84, 84, 84, 0.7) solid;
  height: 74px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 940px) {
  .header {
    width: calc(100% - 76px);
    margin-top: 28px;
    height: 56px;
    margin-bottom: 42px;
  }
}

@media screen and (max-width: 440px) {
  .header {
    margin-top: 28px;
    width: 100%;
  }
}
