.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: rgb(0, 0, 0, 0);
  border: none;
  padding: 0;
}

@media screen and (max-width: 620px) {
  .popup__close {
    right: 0;
    width: 20px;
    height: 20px;
  }
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}
