.auth__input {
    background-color: transparent;
    border: #fff;
    margin-bottom: 30px;
    border-bottom: 2px #fff solid;
    width: 100%;
    color: #CCC;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 13px;
}

.auth__input:last-child {
    margin-bottom: 0;
}